:root {
    --text-color: #000;
    --background: #fff;
    --logo: darkblue;
    --background-light: #f6f3f3;
    --text-color-light: #555;
    --box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    --border: lightgray;
}

.dark {
    --text-color: whitesmoke;
    --background: #222;
    --logo: #fff;
    --background-light: #333;
    --text-color-light: lightgray;
    --box-shadow: 0px 3px 4px 0px hsla(0, 0%, 0%, 0.14),
        0px 3px 3px -2px hsla(0, 0%, 0%, 0.12),
        0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);
    --border: #444;
}