@import "../../responsive.scss";

.home {
    background-color: var(--background-light);
    padding: 20px 70px;
    min-height: calc(100vh - 60px);
    border: none;

    @include mobile {
        padding: 10px;
    }

    @include tablet {
        padding: 20px;
    }

    .stories {
        display: flex;
        gap: 10px;
        height: 250px;
        margin-bottom: 30px;

        @include mobile {
            height: 80px;
            justify-content: space-between;
        }

        @include tablet {
            height: 200px;
            gap: 15px;
        }
    }
}