.suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .buttons {
        display: flex;
        gap: 10px;

        button {
            border: none;
            padding: 5px;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;

            &:first-child {
                background-color: #5271ff;
            }

            &:last-child {
                background-color: #f0544f;
            }
        }
    }
}