@import "../../responsive.scss";

.story {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    @include mobile {
        flex: none;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    span {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fff;
        font-weight: 500;

        @include mobile {
            display: none;
        }
    }

    button {
        position: absolute;
        bottom: 40px;
        left: 10px;
        color: #fff;
        background-color: #5271ff;
        border: none;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        cursor: pointer;

        @include mobile {
            inset: 0;
            margin: auto;
        }
    }
}