@import "../../responsive.scss";

.profile {
    background-color: var(--background-light);
    min-height: calc(100vh - 60px);

    h1 {
        color: var(--text-color);
        font-size: 1.5rem;
        padding: 20px;
        text-align: center;
    }

    .images {
        width: 100%;
        height: 300px;
        position: relative;

        .cover {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .profile-img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            position: absolute;
            right: 0;
            left: 0;
            top: 225px;
            margin: auto;
        }
    }

    .profile__user {
        padding: 20px 70px;

        @include mobile {
            padding: 10px;
        }

        @include tablet {
            padding: 20px;
        }

        .profile__user-info {
            height: 250px;
            -webkit-box-shadow: var(--box-shadow);
            -moz-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
            background-color: var(--background);
            color: var(--text-color);
            border-radius: 20px;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            @include mobile {
                flex-direction: column;
                height: 30vh;
                padding: 20px;
                margin-top: 75px;

            }

            .left {
                flex: 1;
                display: flex;
                gap: 10px;

                @include tablet {
                    flex-wrap: wrap;
                }

                a {
                    color: var(--text-color-light);
                }
            }

            .center {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .profile__names {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .name {
                        font-size: 30px;
                        font-weight: 500;
                    }

                    .username {
                        font-size: 14px;
                        color: var(--text-color-light);
                    }
                }

                .info {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .item {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        color: var(--text-color-light);

                        span {
                            font-size: 12px;
                        }
                    }
                }

                button {
                    border: none;
                    background-color: #5271ff;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }

            .right {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 10px;
            }
        }
    }
}